@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* cores */
    --gb-color-white:#fff;
    --bg-color-default:#000;
    --color-white: #d1d1d1;
    --hover-1: #1e1e1e;
    --hover-2: #ececec;
    
    --color-black-trans:#0004;
    --txt-dark:#3b3b3b;
    --border-color:#2e2e2e;
    --sec-text:#e1e1e1;
    --txt-white:#fff;
    /* filter */
    --filter:invert(100%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(104%)
}   

body{
    background-color: var(--bg-color-default);
    color:var(--color-white);
    
}
p,a{
    font-family: "Inter", sans-serif;
    font-style: normal;
    color:var(--color-white);
    letter-spacing: 1px;
  }
body a{
    text-decoration: none;
}
.container{
    margin:0 auto;
    width: 80%;
}
.container-display{
    display:flex;
    
}
.display-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.svg{
    width: 20px;
    height: 20px;
    filter:var(--filter)
}